nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0.5rem 1rem; 
  background: inherit; 
  z-index: 1000;
  background-color: white;
    border-style: ridge;
  font-family: "Tenor Sans", sans-serif;
  height: 5%;
}

nav ul {
  display: flex;
  gap: 1rem; 
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

nav li {
  margin: 0;
}

nav a {
  color: #000; /* use global link color */
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}


.TextNavbar {
  font-weight: bold;
  position: absolute;
  top: 45%;
}


.page-container {
  min-height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  margin-top: auto;
}
.info-content h1 {
  color: #000;
  margin: -50px 0 1rem 0; /* move up and add space below */
  margin-bottom: 10%;
  font-size: 5.1rem;
  top: 20%;
  margin-top: 20px;
}


.home-container {
  width: 100vw;
  display: flex;
}

.OnderAfbeelding {
  width: 100vw;       /* Gebruik 100vw zodat het echt de volledige breedte beslaat */
  max-width: 100%;    /* Voorkomt horizontale scrollbars */
  height: 50vh;       /* Hoogte blijft de helft van het scherm */
 }



.info-content p {
    color: #000;
  font-size: 1.5rem;
  font-weight: bold;
    width: 88%;
    padding: 20px;

}



.info-content  {
  width: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.image-content {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-content img {
  width: 50%;
}

.sag {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.sol {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: center;
}




.ana {
  height: 90vh;
  width: 100vw;
  display: flex;
}

.sag img {
  width: 50%;
}

.sol h1 {
  color: #000;
  margin: -50px 0 1rem 0; 
  margin-bottom: 10%;
  font-size: 5.1rem;
  position: absolute;
  top: 11%;
  width: 45%;
}

.sol p{
    color: #000;
  font-size: 1.5rem;
  font-weight: bold;
  width: 82%;
}


.ulab{
  gap: 2rem; 
  list-style: none;
  align-items: center;
    display: flex;

}
.pgit{
  color: blue;
    font-size: 2.1rem;

}

.pli{
  color: grey;
    font-size: 2.1rem;

}
.po{
  color: green;
  font-size: 2.1rem;
}

.h2ab{
 color: black;
  font-size: 4.1rem;
  padding: 20px;
}

.vaardig{
  color: black;
  font-size: 4.1rem;
  padding: 20px;
  
}
.vaardigheden{
   color: black;
  font-size: 2.1rem;

}

.contact-home p{
     color: #000;
    font-size: 1.5rem;
    font-weight: bold;
    width: 88%;
    padding: 20px;
}
.imgtoets{
  width: 25%;
  float: right;
}